<template>
  <div class="row">
  <div class="col-lg-6">
    <input v-model="title" type="text" class="forn-control mt-2" placeholder="Title">
    <input v-model="body" type="text" class="forn-control mt-2" placeholder="Body">
    <button @click="postBlog" class="btn btn-block btn-primary">Add</button>
  
  </div>
  <br>
  <br>
  <br>
    <div class="col-lg-6">
    <table class="table">
      <thead>
      <th>Url</th>
      <th>Title</th>
      <th>Body</th>
      <th>Edit</th>
      <th>Delete</th>
      </thead>
      <tbody>
        <tr v-for="blog in blogs" v-bind:key="blog.url">
        <td>{{blog.url}}</td>
        <td>{{blog.title}}</td>
        <td>{{blog.body}}</td>
        <td>
          <button @click="getone(blog)"  class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></button>
        </td>
       <td>
          <button @click="deleteone(blog.url)" class="btn btn-sm btn-primary"><i class="fa fa-trash"></i></button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>

 
  
  </div>    
</template>

<script>
// import uuid from 'uuid';
import axios from 'axios'
export default {
  name: "Container",
  props:{
    msg:String
  },
  data(){
    return{
      blogs:null,
      url:'',
      title:'',
      body:''
    }

  },
  mounted(){
    this.getAll();
  },
  methods:{
    getAll(){
      axios.get(`http://localhost:8000/blogs`)
      .then((res)=>{
        this.blogs =res.data;
        this.title='';
        this.body='';
        this.url='';
      })

    },
    getone(blog){
      this.url=blog.url;
      this.title=blog.title;
      this.body=blog.body;
    },
    deleteone(url){
      axios.delete(url,{auth:{
        username:'admin',
        password:'admin'
      }})
      .then(()=>{
        this.getAll();
      })
    },
    postBlog(){
      if(this.url==''){
        axios.post(`http://localhost:8000/blogs/`,
      {
        title:this.title,
        body:this.body
        },
      {auth:{username:'admin',password:'admin'}}
      
      
      )
      .then(()=>{
        this.getAll();
      })
      }else{
        axios.put(this.url,
        {title:this.title,body:this.body},
        {auth:{username:'admin',password:'admin'}}
        ).then(()=>{
          this.getAll();
        })
      }
      
    }
  }

}
</script>

<style scoped>
 
</style>


